<% provide :title, "About" %>
<h1>About</h1>
<p>This is a simple application that will help you learn 1000 most common wors in any foreign language.</p>
<p>Hopefuly, in some time it will get a bit more advanced ;)</p>