<div class="center jumbotron">
  <h1>Welcome to turbo octo dictionary!</h1>
  <h2>
    This is the home page for turbo octo dictionary
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
