<p>
		<strong> Translation: </strong>
		<%= translation.first_language %>   -   <%= translation.second_language %>
	</p>
	<p>
		<strong> Association: </strong>
		<%= translation.tip %>
	</p>
	<p>
		<strong> Example of use: </strong>
		<%= translation.example %> 
	</p>